<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="title">Nazwa</label>
        <input
          #title="ngModel"
          [(ngModel)]="product.title"
          name="title"
          id="title"
          type="text"
          class="form-control"
          required
        />
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          Tytuł jest wymagany
        </div>
      </div>
      <div class="form-group">
        <label for="price">Cena</label>
        <div class="input-group">
          <div class="input-group-text">PLN</div>
          <input
            #price="ngModel"
            [(ngModel)]="product.price"
            name="price"
            id="price"
            type="number"
            class="form-control"
            required
            [min]="0"
          />
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">Cena jest wymagana</div>
          <div *ngIf="price.errors.min">Cena mjusi być większa od zera</div>
        </div>
      </div>
      <div class="form-group">
        <label for="category">Kategoria</label>
        <select
          #category="ngModel"
          [(ngModel)]="product.category"
          name="category"
          id="category"
          class="form-control"
          required
        >
          <option value=""></option>
          <option *ngFor="let c of (categories$ | async)" [value]="c.key">
            {{ c.name }}
          </option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="category.touched && category.invalid"
        >
          Kategoria jest wymagana
        </div>
        <div class="form-group">
          <label for="imageUrl">Link do zdjęcia</label>
          <input
            #imageUrl="ngModel"
            [(ngModel)]="product.imageUrl"
            name="imageUrl"
            id="imageUrl"
            type="text"
            class="form-control"
            required
            url
          />
          <div
            class="alert alert-danger"
            *ngIf="imageUrl.touched && imageUrl.invalid"
          >
            <div *ngIf="imageUrl.errors.required">Link do zdjęcia jest wymagany</div>
            <div *ngIf="imageUrl.errors.url">Niepoprawny link do zdjęcia</div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary">Zapisz</button>
      <button type="button" (click)="delete()" class="btn btn-danger">
        Usuń
      </button>
    </form>
  </div>
  <div class="col-md-6">
    <app-product-card
      [product]="product"
      [show-actions]="false"
    ></app-product-card>
  </div>
</div>
