<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">NOWY PRODUKT</a>
</p>
<p>
  <input
    #query
    (keyup)="filter(query.value)"
    type="text"
    class="form-control"
    placeholder="Wyszukaj... "
  />
</p>

<table
  class="table table-light"
  [mfData]="filteredProducts"
  #mf="mfDataTable"
  [mfRowsOnPage]="5"
>
  <thead>
    <tr>
      <th><mfDefaultSorter by="title">Tytuł</mfDefaultSorter></th>
      <th><mfDefaultSorter by="price">Cena</mfDefaultSorter></th>
      <th><mfDefaultSorter by="category">Kategoria</mfDefaultSorter></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of mf.data">
      <td>{{ p.title }}</td>
      <td>{{ p.price }} PLN</td>
      <td>{{ p.category | titlecase }}</td>
      <td><a [routerLink]="['/admin/products/', p.key]">Edytuj</a></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator
          [rowsOnPageSet]="[5, 10, 25]"
        ></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
</table>
